<h1><%= @brand.name %></h1>
<% if @brand.price %>
  <p><%= @brand.price %></p>
<% end %>
<hr>
<p>Carried by: </p>
<ul>
  <% @stores.each do |store| %>
  <li><a href="/stores/<%= store.id %>"><%= store.name %></a></li>
  <br>
  <% end %>
</ul>
<p>Add carriers: </p>
<form action="/brands/<%= @brand.id %>" method="post">
  <input type="text" name="stores" id="stores">
  <label for="stores">Stores (seperated by commas)</label>
  <br>
  <br>
  <button class="btn" type="submit">Add Stores</button>
</form>
